import data from source
import Pandas
Import CSV file

In [14]:
##import pandas
import pandas as pd

##import inforamtion for world back of population
#with open(r'D:\springboard\DataScienceGuidedCapstone\Unit7\DataCapstoneProject2\data_worldbank_population.csv') as birthratecsvfile:
    birthrate = pd.read_csv('D:\springboard\DataScienceGuidedCapstone\Unit7\DataCapstoneProject2\data_worldbank_population.csv')

In [13]:
print(df.head(10))

           Country Name Country Code       1960  1961  1962  1963  1964  1965  \
0                 Aruba          ABW        NaN   NaN   NaN   NaN   NaN   NaN
1           Afghanistan          AFG        NaN   NaN   NaN   NaN   NaN   NaN
2                Angola          AGO  47.799999   NaN   NaN   NaN   NaN   NaN
3               Albania          ALB        NaN   NaN   NaN   NaN   NaN   NaN
4               Andorra          AND        NaN   NaN   NaN   NaN   NaN   NaN
5            Arab World          ARB        NaN   NaN   NaN   NaN   NaN   NaN
6  United Arab Emirates          ARE        NaN   NaN   NaN   NaN   NaN   NaN
7             Argentina          ARG  58.419998   NaN   NaN   NaN   NaN   NaN
8               Armenia          ARM        NaN   NaN   NaN   NaN   NaN   NaN
9        American Samoa          ASM  39.360001   NaN   NaN   NaN   NaN   NaN

   1966  1967  ...       2011       2012       2013       2014       2015  \
0   NaN   NaN  ...        NaN        NaN        NaN        NaN        NaN
1   NaN   NaN  ...        NaN  38.772598        NaN  48.458801        NaN
2   NaN   NaN  ...  57.634102        NaN        NaN  36.380001        NaN
3   NaN   NaN  ...  44.102100  36.213902  27.569401  28.957500  31.298800
4   NaN   NaN  ...        NaN        NaN        NaN        NaN        NaN
5   NaN   NaN  ...        NaN        NaN        NaN  29.512639        NaN
6   NaN   NaN  ...        NaN        NaN        NaN        NaN        NaN
7   NaN   NaN  ...  40.916599  40.521702  40.101299  38.602699        NaN
8   NaN   NaN  ...  39.395199  32.607700  39.680099  37.574100  39.471001
9   NaN   NaN  ...        NaN        NaN        NaN        NaN        NaN

        2016       2017       2018       2019  2020
0        NaN        NaN        NaN        NaN   NaN
1        NaN  39.264599        NaN        NaN   NaN
2        NaN        NaN        NaN        NaN   NaN
3  31.648399  31.614700  35.686001  36.592098   NaN
4        NaN        NaN        NaN        NaN   NaN
5        NaN        NaN        NaN        NaN   NaN
6        NaN  52.846901  50.827400  49.154400   NaN
7        NaN  38.955601  39.406101  39.004200   NaN
8  34.652100  35.117901  35.615898        NaN   NaN
9        NaN        NaN        NaN        NaN   NaN

[10 rows x 63 columns]

In [ ]:
##next create variable to only import data for Japan and United states and drop other data
birthJAPANandUS = df['Country Name']