In [1]:
#Task 1
#import pandas
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import rcParams
import seaborn as sns
import numpy as np
import os
import sklearn


##import inforamtion from Kaggle 
CCLoan = pd.read_csv(r'D:\springboard\DataScienceGuidedCapstone\Unit7\DataCapstoneProject2\ccFraudDefault\application_data.csv',header=0)

In [2]:
#Task 2.0
#preview first 25 row to verify data was imported correctly

CCLoan.head(25)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.000,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.000,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.000,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.000,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.000,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
5,100008,0,Cash loans,M,N,Y,0,99000.000,490495.5,27517.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
6,100009,0,Cash loans,F,Y,Y,1,171000.000,1560726.0,41301.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,2.0
7,100010,0,Cash loans,M,Y,Y,0,360000.000,1530000.0,42075.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
8,100011,0,Cash loans,F,N,Y,0,112500.000,1019610.0,33826.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
9,100012,0,Revolving loans,M,N,Y,0,135000.000,405000.0,20250.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
10,100014,0,Cash loans,F,N,Y,1,112500.000,652500.0,21177.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
11,100015,0,Cash loans,F,N,Y,0,38419.155,148365.0,10678.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
12,100016,0,Cash loans,F,N,Y,0,67500.000,80865.0,5881.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
13,100017,0,Cash loans,M,Y,N,1,225000.000,918468.0,28966.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
14,100018,0,Cash loans,F,N,Y,0,189000.000,773680.5,32778.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
15,100019,0,Cash loans,M,Y,Y,0,157500.000,299772.0,20160.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
16,100020,0,Cash loans,M,N,N,0,108000.000,509602.5,26149.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
17,100021,0,Revolving loans,F,N,Y,1,81000.000,270000.0,13500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
18,100022,0,Revolving loans,F,N,Y,0,112500.000,157500.0,7875.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
19,100023,0,Cash loans,F,N,Y,1,90000.000,544491.0,17563.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
20,100024,0,Revolving loans,M,Y,Y,0,135000.000,427500.0,21375.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
21,100025,0,Cash loans,F,Y,Y,1,202500.000,1132573.5,37561.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
22,100026,0,Cash loans,F,N,N,1,450000.000,497520.0,32521.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
23,100027,0,Cash loans,F,N,Y,0,83250.000,239850.0,23850.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
24,100029,0,Cash loans,M,Y,N,2,135000.000,247500.0,12703.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
#Task 2.0.1
#rename certian column to be more readable
CCLoan.rename(columns={'SK_ID_CURR':'CLIENTID','TARGET':'LATE_PAYMENT'},inplace = True)

In [5]:
#Task 2.1
#Total row of record is 307511 and 122 column
CCLoan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 122 entries, CLIENTID to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB

In [ ]:
# Task 2.2
# These are the columns i know i want to keep so i will fill out the na
CCLoan.fillna({'OWN_CAR_AGE':0,'AMT_GOODS_PRICE':CCLoan.AMT_GOODS_PRICE.mean(),'AMT_ANNUITY': 0,'CNT_FAM_MEMBERS':'0',
               'WALLSMATERIAL_MODE':'unknown','HOUSETYPE_MODE':'unknown','AMT_REQ_CREDIT_BUREAU_QRT':0.0,
               'AMT_REQ_CREDIT_BUREAU_YEAR':0.0,'NAME_TYPE_SUITE':'N/A','OCCUPATION_TYPE':'N/A',
               'DEF_60_CNT_SOCIAL_CIRCLE':'N/A','OBS_60_CNT_SOCIAL_CIRCLE':'N/A','DEF_30_CNT_SOCIAL_CIRCLE':'N/A',
               'OBS_30_CNT_SOCIAL_CIRCLE':'N/A'    
              },inplace = True)

In [18]:
#Task2.3
#get a list of columns that is NaN

bbb=CCLoan.isna().sum()
bbb.sort_values(ascending = False)

# Get a list of columns that will drop if more than 40% that is null
# View the columns.
threshold = len(CCLoan)*.4
columns_drop = bbb.loc[bbb > threshold].index
columns_drop

Index(['EXT_SOURCE_1', 'APARTMENTS_AVG', 'BASEMENTAREA_AVG',
       'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BUILD_AVG', 'COMMONAREA_AVG',
       'ELEVATORS_AVG', 'ENTRANCES_AVG', 'FLOORSMAX_AVG', 'FLOORSMIN_AVG',
       'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG',
       'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG', 'APARTMENTS_MODE',
       'BASEMENTAREA_MODE', 'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BUILD_MODE',
       'COMMONAREA_MODE', 'ELEVATORS_MODE', 'ENTRANCES_MODE', 'FLOORSMAX_MODE',
       'FLOORSMIN_MODE', 'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE',
       'LIVINGAREA_MODE', 'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE',
       'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI', 'YEARS_BEGINEXPLUATATION_MEDI',
       'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI', 'ELEVATORS_MEDI',
       'ENTRANCES_MEDI', 'FLOORSMAX_MEDI', 'FLOORSMIN_MEDI', 'LANDAREA_MEDI',
       'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI',
       'NONLIVINGAREA_MEDI', 'FONDKAPREMONT_MODE', 'TOTALAREA_MODE',
       'EMERGENCYSTATE_MODE'],
      dtype='object')

In [32]:
#Task 2.4
#drop columns
#CCLoan.drop(CCLoan.loc[[columns_drop]],axis=1,inplace=True)

CCLoan.drop(CCLoan[columns_drop].columns,axis=1,inplace=True)

In [44]:
#Task 2.5
#see how many rows left after dropping columns with more than.  I see 76 columns left
#CCLoan.info()
CCLoan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 76 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   CLIENTID                     307511 non-null  int64
 1   LATE_PAYMENT                 307511 non-null  int64
 2   NAME_CONTRACT_TYPE           307511 non-null  object
 3   CODE_GENDER                  307511 non-null  object
 4   FLAG_OWN_CAR                 307511 non-null  object
 5   FLAG_OWN_REALTY              307511 non-null  object
 6   CNT_CHILDREN                 307511 non-null  int64
 7   AMT_INCOME_TOTAL             307511 non-null  float64
 8   AMT_CREDIT                   307511 non-null  float64
 9   AMT_ANNUITY                  307511 non-null  float64
 10  AMT_GOODS_PRICE              307511 non-null  float64
 11  NAME_TYPE_SUITE              307511 non-null  object
 12  NAME_INCOME_TYPE             307511 non-null  object
 13  NAME_EDUCATION_TYPE          307511 non-null  object
 14  NAME_FAMILY_STATUS           307511 non-null  object
 15  NAME_HOUSING_TYPE            307511 non-null  object
 16  REGION_POPULATION_RELATIVE   307511 non-null  float64
 17  DAYS_BIRTH                   307511 non-null  int64
 18  DAYS_EMPLOYED                307511 non-null  int64
 19  DAYS_REGISTRATION            307511 non-null  float64
 20  DAYS_ID_PUBLISH              307511 non-null  int64
 21  OWN_CAR_AGE                  307511 non-null  float64
 22  FLAG_MOBIL                   307511 non-null  int64
 23  FLAG_EMP_PHONE               307511 non-null  int64
 24  FLAG_WORK_PHONE              307511 non-null  int64
 25  FLAG_CONT_MOBILE             307511 non-null  int64
 26  FLAG_PHONE                   307511 non-null  int64
 27  FLAG_EMAIL                   307511 non-null  int64
 28  OCCUPATION_TYPE              307511 non-null  object
 29  CNT_FAM_MEMBERS              307511 non-null  object
 30  REGION_RATING_CLIENT         307511 non-null  int64
 31  REGION_RATING_CLIENT_W_CITY  307511 non-null  int64
 32  WEEKDAY_APPR_PROCESS_START   307511 non-null  object
 33  HOUR_APPR_PROCESS_START      307511 non-null  int64
 34  REG_REGION_NOT_LIVE_REGION   307511 non-null  int64
 35  REG_REGION_NOT_WORK_REGION   307511 non-null  int64
 36  LIVE_REGION_NOT_WORK_REGION  307511 non-null  int64
 37  REG_CITY_NOT_LIVE_CITY       307511 non-null  int64
 38  REG_CITY_NOT_WORK_CITY       307511 non-null  int64
 39  LIVE_CITY_NOT_WORK_CITY      307511 non-null  int64
 40  ORGANIZATION_TYPE            307511 non-null  object
 41  EXT_SOURCE_2                 306851 non-null  float64
 42  EXT_SOURCE_3                 246546 non-null  float64
 43  HOUSETYPE_MODE               307511 non-null  object
 44  WALLSMATERIAL_MODE           307511 non-null  object
 45  OBS_30_CNT_SOCIAL_CIRCLE     307511 non-null  object
 46  DEF_30_CNT_SOCIAL_CIRCLE     307511 non-null  object
 47  OBS_60_CNT_SOCIAL_CIRCLE     307511 non-null  object
 48  DEF_60_CNT_SOCIAL_CIRCLE     307511 non-null  object
 49  DAYS_LAST_PHONE_CHANGE       307510 non-null  float64
 50  FLAG_DOCUMENT_2              307511 non-null  int64
 51  FLAG_DOCUMENT_3              307511 non-null  int64
 52  FLAG_DOCUMENT_4              307511 non-null  int64
 53  FLAG_DOCUMENT_5              307511 non-null  int64
 54  FLAG_DOCUMENT_6              307511 non-null  int64
 55  FLAG_DOCUMENT_7              307511 non-null  int64
 56  FLAG_DOCUMENT_8              307511 non-null  int64
 57  FLAG_DOCUMENT_9              307511 non-null  int64
 58  FLAG_DOCUMENT_10             307511 non-null  int64
 59  FLAG_DOCUMENT_11             307511 non-null  int64
 60  FLAG_DOCUMENT_12             307511 non-null  int64
 61  FLAG_DOCUMENT_13             307511 non-null  int64
 62  FLAG_DOCUMENT_14             307511 non-null  int64
 63  FLAG_DOCUMENT_15             307511 non-null  int64
 64  FLAG_DOCUMENT_16             307511 non-null  int64
 65  FLAG_DOCUMENT_17             307511 non-null  int64
 66  FLAG_DOCUMENT_18             307511 non-null  int64
 67  FLAG_DOCUMENT_19             307511 non-null  int64
 68  FLAG_DOCUMENT_20             307511 non-null  int64
 69  FLAG_DOCUMENT_21             307511 non-null  int64
 70  AMT_REQ_CREDIT_BUREAU_HOUR   265992 non-null  float64
 71  AMT_REQ_CREDIT_BUREAU_DAY    265992 non-null  float64
 72  AMT_REQ_CREDIT_BUREAU_WEEK   265992 non-null  float64
 73  AMT_REQ_CREDIT_BUREAU_MON    265992 non-null  float64
 74  AMT_REQ_CREDIT_BUREAU_QRT    307511 non-null  float64
 75  AMT_REQ_CREDIT_BUREAU_YEAR   307511 non-null  float64
dtypes: float64(16), int64(41), object(19)
memory usage: 178.3+ MB

In [45]:
#Task 2.5.1
# i see there are some more columns i want to drop as the data is not useful
bbb=CCLoan.isna().sum()
bbb.sort_values(ascending = False).head(10)

EXT_SOURCE_3                  60965
AMT_REQ_CREDIT_BUREAU_MON     41519
AMT_REQ_CREDIT_BUREAU_WEEK    41519
AMT_REQ_CREDIT_BUREAU_DAY     41519
AMT_REQ_CREDIT_BUREAU_HOUR    41519
EXT_SOURCE_2                    660
DAYS_LAST_PHONE_CHANGE            1
CLIENTID                          0
DEF_60_CNT_SOCIAL_CIRCLE          0
FLAG_DOCUMENT_5                   0
dtype: int64

In [46]:
#Task 2.6
# drop the column EXT_SOURCE_3, AMT_REQ_CREDIT_BUREAU_MON, AMT_REQ_CREDIT_BUREAU_WEEK,
# AMT_REQ_CREDIT_BUREAU_DAY, AMT_REQ_CREDIT_BUREAU_HOUR, EXT_SOURCE_2

CCLoan=CCLoan.drop(['EXT_SOURCE_3','AMT_REQ_CREDIT_BUREAU_MON','AMT_REQ_CREDIT_BUREAU_WEEK',
                    'AMT_REQ_CREDIT_BUREAU_DAY','AMT_REQ_CREDIT_BUREAU_HOUR','EXT_SOURCE_2'],axis=1)

In [47]:
#task 2.6.1
#see the data after dropping the column above.  It now has 70 column

CCLoan.head(25)

,CLIENTID,LATE_PAYMENT,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.000,406597.5,24700.5,...,0,0,0,0,0,0,0,0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.000,1293502.5,35698.5,...,0,0,0,0,0,0,0,0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.000,135000.0,6750.0,...,0,0,0,0,0,0,0,0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.000,312682.5,29686.5,...,0,0,0,0,0,0,0,0,0.0,0.0
4,100007,0,Cash loans,M,N,Y,0,121500.000,513000.0,21865.5,...,0,0,0,0,0,0,0,0,0.0,0.0
5,100008,0,Cash loans,M,N,Y,0,99000.000,490495.5,27517.5,...,0,0,0,0,0,0,0,0,1.0,1.0
6,100009,0,Cash loans,F,Y,Y,1,171000.000,1560726.0,41301.0,...,1,0,0,0,0,0,0,0,1.0,2.0
7,100010,0,Cash loans,M,Y,Y,0,360000.000,1530000.0,42075.0,...,0,0,0,0,0,0,0,0,0.0,0.0
8,100011,0,Cash loans,F,N,Y,0,112500.000,1019610.0,33826.5,...,0,0,0,0,0,0,0,0,0.0,1.0
9,100012,0,Revolving loans,M,N,Y,0,135000.000,405000.0,20250.0,...,0,0,0,0,0,0,0,0,0.0,0.0
10,100014,0,Cash loans,F,N,Y,1,112500.000,652500.0,21177.0,...,0,0,0,0,0,0,0,0,0.0,0.0
11,100015,0,Cash loans,F,N,Y,0,38419.155,148365.0,10678.5,...,0,0,0,0,0,0,0,0,0.0,2.0
12,100016,0,Cash loans,F,N,Y,0,67500.000,80865.0,5881.5,...,0,0,0,0,0,0,0,0,0.0,0.0
13,100017,0,Cash loans,M,Y,N,1,225000.000,918468.0,28966.5,...,0,0,0,0,0,0,0,0,0.0,1.0
14,100018,0,Cash loans,F,N,Y,0,189000.000,773680.5,32778.0,...,0,0,0,0,0,0,0,0,0.0,0.0
15,100019,0,Cash loans,M,Y,Y,0,157500.000,299772.0,20160.0,...,0,0,0,0,0,0,0,0,0.0,1.0
16,100020,0,Cash loans,M,N,N,0,108000.000,509602.5,26149.5,...,0,0,0,0,0,0,0,0,1.0,0.0
17,100021,0,Revolving loans,F,N,Y,1,81000.000,270000.0,13500.0,...,0,0,0,0,0,0,0,0,0.0,0.0
18,100022,0,Revolving loans,F,N,Y,0,112500.000,157500.0,7875.0,...,0,0,0,0,0,0,0,0,0.0,0.0
19,100023,0,Cash loans,F,N,Y,1,90000.000,544491.0,17563.5,...,0,0,0,0,0,0,0,0,0.0,2.0
20,100024,0,Revolving loans,M,Y,Y,0,135000.000,427500.0,21375.0,...,0,0,0,0,0,0,0,0,0.0,0.0
21,100025,0,Cash loans,F,Y,Y,1,202500.000,1132573.5,37561.5,...,0,0,0,0,0,0,0,0,1.0,4.0
22,100026,0,Cash loans,F,N,N,1,450000.000,497520.0,32521.5,...,0,0,0,0,0,0,0,0,0.0,5.0
23,100027,0,Cash loans,F,N,Y,0,83250.000,239850.0,23850.0,...,0,0,0,0,0,0,0,0,0.0,3.0
24,100029,0,Cash loans,M,Y,N,2,135000.000,247500.0,12703.5,...,0,0,0,0,0,0,0,0,0.0,0.0

In [48]:
#Task 2.7
# review data to see if data should be kept and clarify what is that data

aaa=CCLoan.isna().sum()
aaa.sort_values(ascending = False,)

DAYS_LAST_PHONE_CHANGE         1
CLIENTID                       0
DEF_30_CNT_SOCIAL_CIRCLE       0
FLAG_DOCUMENT_4                0
FLAG_DOCUMENT_3                0
                              ..
CNT_FAM_MEMBERS                0
REGION_RATING_CLIENT           0
REGION_RATING_CLIENT_W_CITY    0
WEEKDAY_APPR_PROCESS_START     0
AMT_REQ_CREDIT_BUREAU_YEAR     0
Length: 70, dtype: int64

In [55]:
AAAA=CCLoan[CCLoan['DAYS_LAST_PHONE_CHANGE'].isnull()]
AAAA.head()

In [ ]:
#Task 3.1.0
# review data to see if data should be kept and clarify what is that data
# validated that if someone does not own a card the data is NaN
CCLoan_car=CCLoan[CCLoan['FLAG_OWN_CAR']=='N']
CCLoan_car =CCLoan_car[CCLoan_car['OWN_CAR_AGE'].isna()]

CCLoan_car[['CLIENTID','LATE_PAYMENT','FLAG_OWN_CAR','OWN_CAR_AGE','HOUSETYPE_MODE',]].head(10)

In [ ]:
#CCLoan_car =CCLoan_car[CCLoan_car['OWN_CAR_AGE'].isna()]
CCLoan_car

In [ ]:
#Task 3.1.1
#view  infor of OWN_CAR_AGE is what type of data.  I find it is Float so i would need to put 0 instead of NA for this value
CCLoan.info()

In [ ]:
#Task 3.2.0
#to decifer who own car you will need to use FLAG_OWN_CAR to see if they have car.  I am settinb
CCLoan['OWN_CAR_AGE']=CCLoan['OWN_CAR_AGE'].replace(np.nan, 0)

In [ ]:
#Task 3.2.1
#Validate that NaN is now 0 instead of NaN
CCLoan_car=CCLoan[CCLoan['FLAG_OWN_CAR']=='N']
CCLoan_car[['CLIENTID','LATE_PAYMENT','FLAG_OWN_CAR','OWN_CAR_AGE','FONDKAPREMONT_MODE','WALLSMATERIAL_MODE','HOUSETYPE_MODE','EMERGENCYSTATE_MODE']].head(10)

In [ ]:
#Task 3.3.1
#Change NaN for WALLSMATERIAL_MODE & HouseTypeMode to NA as unknown material or house  type
CCLoan['WALLSMATERIAL_MODE']=CCLoan['WALLSMATERIAL_MODE'].replace(np.nan, 'unknown')
CCLoan['HOUSETYPE_MODE']=CCLoan['HOUSETYPE_MODE'].replace(np.nan, 'unknown')

CCLoan[['CLIENTID','LATE_PAYMENT','FLAG_OWN_CAR','OWN_CAR_AGE','FONDKAPREMONT_MODE','WALLSMATERIAL_MODE','HOUSETYPE_MODE','EMERGENCYSTATE_MODE']].head(10)

In [ ]:
#Task 2.3.2
#View data
#CCLoan[['CLIENTID','LATE_PAYMENT','FLAG_OWN_CAR','OWN_CAR_AGE','FONDKAPREMONT_MODE','WALLSMATERIAL_MODE','HOUSETYPE_MODE','EMERGENCYSTATE_MODE']].head(25)

View Data to see if I should drop more columns

In [ ]:
#Task 3.3.2
#see what data is null, total row is 307511 and the below is top 5 row with 214000+ rows are null

aaa=CCLoan.isna().sum()
aaa.sort_values(ascending = False,)

In [ ]:
#Task 3.4.1

#drop column FONDKAPREMONT_MODE, EMERGENCYSTATE_MODE
CCLoan=CCLoan.drop(['FONDKAPREMONT_MODE','EMERGENCYSTATE_MODE'],axis=1)


#validate columns are dropped
#validated the columns are no longer there and now see next 5 columns
bbb=CCLoan.isna().sum()
bbb.sort_values(ascending = False)

threshold = len(CCLoan)*.4
columns_drop = bbb.loc[bbb > threshold].index

In [ ]:
### 

threshold = len(CCLoan)*.4
columns_drop = bbb.loc[bbb > threshold].index
columns_drop

In [ ]:
#Task 3.4.1.0
CCLoan[['CLIENTID','LATE_PAYMENT','OCCUPATION_TYPE','AMT_REQ_CREDIT_BUREAU_QRT','AMT_REQ_CREDIT_BUREAU_YEAR','NAME_TYPE_SUITE','AMT_ANNUITY','AMT_GOODS_PRICE']].head(30)

In [ ]:
#Task 3.5.1
#update 
#AMT_REQ_CREDIT_BUREAU_QRT  >>> 0.0 because instead of blank but no credit history
#AMT_REQ_CREDIT_BUREAU_YEAR >>> 0.0 because instead of blank but no credit history
#NAME_TYPE_SUITE >>> N/A
#OCCUPATION_TYPE >>> N/A

CCLoan['AMT_REQ_CREDIT_BUREAU_QRT']=CCLoan['AMT_REQ_CREDIT_BUREAU_QRT'].replace(np.nan, 0.0)
CCLoan['AMT_REQ_CREDIT_BUREAU_YEAR']=CCLoan['AMT_REQ_CREDIT_BUREAU_YEAR'].replace(np.nan, 0.0)
CCLoan['NAME_TYPE_SUITE']=CCLoan['NAME_TYPE_SUITE'].replace(np.nan, 'N/A')
CCLoan['OCCUPATION_TYPE']=CCLoan['OCCUPATION_TYPE'].replace(np.nan, 'N/A')
CCLoan['DEF_60_CNT_SOCIAL_CIRCLE']=CCLoan['DEF_60_CNT_SOCIAL_CIRCLE'].replace(np.nan, 'N/A')
CCLoan['OBS_60_CNT_SOCIAL_CIRCLE']=CCLoan['OBS_60_CNT_SOCIAL_CIRCLE'].replace(np.nan, 'N/A')
CCLoan['DEF_30_CNT_SOCIAL_CIRCLE']=CCLoan['DEF_30_CNT_SOCIAL_CIRCLE'].replace(np.nan, 'N/A')
CCLoan['OBS_30_CNT_SOCIAL_CIRCLE']=CCLoan['OBS_30_CNT_SOCIAL_CIRCLE'].replace(np.nan, 'N/A')

In [ ]:
#Task 3.5.2.0
CCLoan[['CLIENTID','LATE_PAYMENT','OCCUPATION_TYPE','AMT_REQ_CREDIT_BUREAU_QRT','AMT_REQ_CREDIT_BUREAU_YEAR','NAME_TYPE_SUITE','AMT_ANNUITY','AMT_GOODS_PRICE']].head(30)

In [ ]:
#Task 3.5.3
#validate columns are dropped
#validated the columns are no longer there and now see next 5 columns
ccc=CCLoan.isna().sum()
ccc.sort_values(ascending = False)

In [ ]:
#Task 3.6.1
#take a mean of AMT_GOODS_PRICE and fill in NaN
CCLoan['AMT_GOODS_PRICE']=CCLoan['AMT_GOODS_PRICE'].replace(np.nan,CCLoan['AMT_GOODS_PRICE'].mean())

ccc=CCLoan.isna().sum()
ccc.sort_values(ascending = False)

In [ ]:
CCLoan.fillna([],0)

In [ ]:
#Task 3.7.1
#take a mean of  and fill in 0
CCLoan['AMT_ANNUITY']=CCLoan['AMT_ANNUITY'].replace(np.nan,0)

ccc=CCLoan.isna().sum()
ccc.sort_values(ascending = False)

In [ ]:
CCLoan.fillna({'AMT_GOODS_PRICE':  CCLoan.AMT_GOODS_PRICE.mean(), 'AMT_ANNUITY': 0})

In [ ]:
#Task 3.8.1
CCLoan_amt = CCLoan[CCLoan['CNT_FAM_MEMBERS'].isna()]
CCLoan_amt[['CLIENTID','LATE_PAYMENT','OCCUPATION_TYPE','CNT_FAM_MEMBERS','CNT_CHILDREN','AMT_ANNUITY','AMT_GOODS_PRICE']].head(30)

In [ ]:
#Task 3.8.2


ccc=CCLoan.isna().sum()
ccc.sort_values(ascending = False)

In [ ]:

CCLoan[['CLIENTID','LATE_PAYMENT','OCCUPATION_TYPE','CNT_FAM_MEMBERS','CNT_CHILDREN','DAYS_LAST_PHONE_CHANGE','AMT_ANNUITY','AMT_GOODS_PRICE']].head(30)

In [ ]:
#Task 3.9.1
CCLoan_amt = CCLoan[CCLoan['DAYS_LAST_PHONE_CHANGE'].isna()]
CCLoan_amt[['CLIENTID','LATE_PAYMENT','OCCUPATION_TYPE','CNT_FAM_MEMBERS','CNT_CHILDREN','DAYS_LAST_PHONE_CHANGE','AMT_ANNUITY','AMT_GOODS_PRICE']].head(30)

In [ ]:
#Task 3.9.2
CCLoan['DAYS_LAST_PHONE_CHANGE']=CCLoan['DAYS_LAST_PHONE_CHANGE'].replace(np.nan,0.0)

ccc=CCLoan.isna().sum()
ccc.sort_values(ascending = False)

In [ ]:
#Task 6.1
# find if a person with late payment will have more cars or less
CCLoan['FLAG_OWN_CAR'].count()

In [ ]:
#Task 6.1.1
LatePay= CCLoan.loc[CCLoan['LATE_PAYMENT']==1]
NoLate = CCLoan.loc[CCLoan['LATE_PAYMENT']==0]

In [ ]:
#Task 6.1.2

#percent of people who are late vs nonlate on cc payment
print ('% of Late Payment : ' +str(len(LatePay['CLIENTID'])/len(CCLoan['CLIENTID'])*100))
print ('% in good standing : ' +str(len(NoLate['CLIENTID'])/len(CCLoan['CLIENTID'])*100))


#there is a 8% default on credit

In [ ]:
#Task 6.1.5
NoLate

In [ ]:
#Task 6.1.6
#Find what is percentage who is Late Payment that owns a car

owncar_LatePayment=(len(LatePay[LatePay['FLAG_OWN_CAR']=='Y']))/len(LatePay['FLAG_OWN_CAR'])*100
print ('% whom has defaulted: '+ str(owncar_LatePayment))


owncar_NoLate=(len(NoLate[NoLate['FLAG_OWN_CAR']=='Y']))/len(NoLate['FLAG_OWN_CAR'])*100
print('% that has not defaulted : '+ str(owncar_NoLate))


#there is a 4% difference where person who owns car that didnt default as to to whom has

In [ ]:
#Task 6.1.8
#Find what is percentage who is Late Payment that owns reality

In [ ]:
#Task 8
# save the state_summary separately.
CCLoan.to_csv(r'D:\springboard\DataScienceGuidedCapstone\Unit7\DataCapstoneProject2\ccFraudDefault\Cleaned_app_data_ver2.csv')

In [ ]:
#
#should do a graph of client ID vs the amount AMT_GOOD_PRICE / AMT_CREDIT

In [ ]:
#
#should do a graph of client ID vs the amount AMT_CREDIT / AMT_INCOME_TOTAL

In [ ]:
#Task x.6.5
#total people with cars and then information if they are late or not late on payment
car_owners = CCLoan[CCLoan['FLAG_OWN_CAR']== 'Y']
car_owner_T = car_owners[car_owners['LATE_PAYMENT']== 1]
car_owner_NT = car_owners[car_owners['LATE_PAYMENT']== 0]
print('Total Count:    '+ str(car_owners['LATE_PAYMENT'].count()))  #.sum() properway
print('LatePayment:    '+ str(car_owner_T['LATE_PAYMENT'].count()))
print('No LatePayment: '+ str(car_owner_NT['LATE_PAYMENT'].count()))

In [ ]:
#Task 6
#Find the % that is late vs not late
#8.1 % of total client is late
VS = (Late['CLIENTID'].count() / CCLoan['CLIENTID'].count())*100

print(VS)

In [ ]:
#Task 7
#get a list of clients who have a late installment
Late = CCLoan.loc[CCLoan['LATE_PAYMENT']. isin([1])]

In [ ]:
#Task 8
#count number of Target are late ---24825 is the output
Late.count()

In [ ]:
#Task 9
#try to find relationship where 
Late.head(25)

In [ ]:
#Task 10
Late[['CLIENTID','AMT_INCOME_TOTAL','AMT_CREDIT','AMT_ANNUITY','AMT_GOODS_PRICE']].head(25)

In [ ]:
#Task 11
Late.describe()

In [ ]:
#Task 21
#put non late payment into another DF so I can graph the latepayment vs income
NonLate = CCLoan.loc[CCLoan['LATE_PAYMENT']. isin([0])]

In [ ]:
CCLoan[['CLIENTID','LATE_PAYMENT','AMT_INCOME_TOTAL','AMT_CREDIT','AMT_ANNUITY','AMT_GOODS_PRICE','FLAG_OWN_CAR']].head(25)

#Task 22
#graph amt_credit vs amt_annuity

y = NonLate['AMT_CREDIT']
y2 = NonLate['AMT_ANNUITY']

x = NonLate ['CLIENT']
fig = plt.figure()
ax = plt.subplot()
ax.plot(x, y, label='Credit Amount')
ax.plot(x, y2, label='Loan Payment')
plt.title('Legend inside')
ax.legend()

In [ ]:
#GRAPH target vs points FLAG_OWN_CAR, FLAG_OWN_REALTY

In [ ]:
#Task 1000
#testsplit  dataset
from sklearn.model_selection import train_test_split

train_test_split(x,y,test_size = .2)